In [1]:
import pandas as pd

In [3]:
single_series = pd.Series(5, index=[0, 1, 2])
single_series

0    5
1    5
2    5
dtype: int64

In [6]:
list_series = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
list_series

a    1
b    2
c    3
dtype: int64

In [8]:
dict_series = pd.Series({'a': 1, 'b': 2, 'c': 3})
dict_series

a    1
b    2
c    3
dtype: int64

In [42]:
stock_data = pd.Series({'AAPL': 200, 'MSFT': 120, 'AMZN': 1800})
stock_data

AAPL     200
MSFT     120
AMZN    1800
dtype: int64

In [11]:
import numpy as np
numpy_series = pd.Series(np.array([1, 2, 3]))
numpy_series

0    1
1    2
2    3
dtype: int32

## Functions
### Fetch

In [12]:
stock_data

AAPL     200
MSFT     120
AMZN    1800
dtype: int64

In [13]:
stock_data[0]

200

In [14]:
stock_data['AAPL']

200

In [15]:
stock_data[0:2]

AAPL    200
MSFT    120
dtype: int64

In [19]:
stock_data['AAPL':'AMZN']

AAPL     200
MSFT     120
AMZN    1800
dtype: int64

In [20]:
print(stock_data.get('MSFT'))
print(stock_data.get(1))

120
120

In [21]:
print(stock_data.max())
print(stock_data.min())
print(stock_data.mean())

1800
120
706.6666666666666

In [22]:
stock_data.dtype

dtype('int64')

In [23]:
stock_data.size

3

In [24]:
stock_data.describe()

count       3.000000
mean      706.666667
std       947.698968
min       120.000000
25%       160.000000
50%       200.000000
75%      1000.000000
max      1800.000000
dtype: float64

### Modify

In [43]:
stock_data[0] =210
stock_data

AAPL     210
MSFT     120
AMZN    1800
dtype: int64

In [44]:
stock_data['MSFT'] = 115
stock_data

AAPL     210
MSFT     115
AMZN    1800
dtype: int64

In [45]:
second_stock_data = pd.Series({'AMD': 27, 'NVDA': 190})

In [46]:
stock_data.append(second_stock_data)

AAPL     210
MSFT     115
AMZN    1800
AMD       27
NVDA     190
dtype: int64

In [47]:
stock_data

AAPL     210
MSFT     115
AMZN    1800
dtype: int64

In [48]:
stock_data = stock_data.append(second_stock_data)
stock_data

AAPL     210
MSFT     115
AMZN    1800
AMD       27
NVDA     190
dtype: int64

In [49]:
stock_data.pop('AMD')

27

In [50]:
stock_data

AAPL     210
MSFT     115
AMZN    1800
NVDA     190
dtype: int64

In [51]:
stock_data.to_list()

[210, 115, 1800, 190]

In [52]:
stock_data.to_dict()

{'AAPL': 210, 'MSFT': 115, 'AMZN': 1800, 'NVDA': 190}

In [53]:
stock_data

AAPL     210
MSFT     115
AMZN    1800
NVDA     190
dtype: int64

In [54]:
stock_data.sort_values()

MSFT     115
NVDA     190
AAPL     210
AMZN    1800
dtype: int64

In [55]:
stock_data

AAPL     210
MSFT     115
AMZN    1800
NVDA     190
dtype: int64

In [56]:
stock_data.sort_index()

AAPL     210
AMZN    1800
MSFT     115
NVDA     190
dtype: int64

In [57]:
stock_data

AAPL     210
MSFT     115
AMZN    1800
NVDA     190
dtype: int64

In [58]:
print(stock_data * 1.29)

AAPL     270.90
MSFT     148.35
AMZN    2322.00
NVDA     245.10
dtype: float64

In [59]:
stock_data

AAPL     210
MSFT     115
AMZN    1800
NVDA     190
dtype: int64

In [61]:
new_series = pd.Series([1, 2, 3, 4])
stock_data.add(new_series)

0      NaN
1      NaN
2      NaN
3      NaN
AAPL   NaN
AMZN   NaN
MSFT   NaN
NVDA   NaN
dtype: float64

In [62]:
new_series = pd.Series({'AAPL': 1, 'MSFT': 2, 'AMZN': 3, 'NVDA': 4})
stock_data.add(new_series)

AAPL     211
MSFT     117
AMZN    1803
NVDA     194
dtype: int64