In [2]:
import numpy as np

## int32, float32

In [3]:
volume = 50
price = 100.54

In [4]:
volume

50

In [6]:
print(type(volume))
print(type(price))

<class 'int'>
<class 'float'>

In [9]:
volume = np.int32(volume)
price = np.float32(price)

In [13]:
print(type(volume))
print(type(price))

<class 'numpy.int32'>
<class 'numpy.float32'>

In [11]:
print(np.dtype(volume))
print(np.dtype(price))

int32
float32

In [12]:
print(volume.dtype)
print(price.dtype)

int32
float32

In [17]:
array = np.array([1,2,3], dtype=np.float32)
array

array([1., 2., 3.], dtype=float32)